@use '../abstracts' as *;

.mobile-menu > ul {
  display: flex;
  flex-direction: column;
  :where(& > :not(:last-child)) {
    --tw-divide-y-reverse: 0;
    border-bottom-style: var(--tw-border-style);
    border-top-style: var(--tw-border-style);
    border-top-width: calc(1px * var(--tw-divide-y-reverse));
    border-bottom-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  }
  :where(& > :not(:last-child)) {
    border-color: rgba(145,158,171,0.21);
  }
  padding-inline: calc(var(--spacing) * 2);
}

.mobile-menu {
	ul {
		li {
			padding-block: calc(var(--spacing) * 2);

			&.has-sub-item {
			  position: relative;
			}

			a {
				  font-size: var(--text-sm);
				  line-height: var(--tw-leading, var(--text-sm--line-height));
				  --tw-leading: 22px;
				  line-height: 22px;

				&.active {
					  color: var(--color-primary);
				}
			}

			.submenu-button {
			  position: absolute;
			  top: calc(var(--spacing) * 0);
			  right: calc(var(--spacing) * 0);
			  display: inline-flex;
			  width: calc(var(--spacing) * 10);
			  height: calc(var(--spacing) * 10);
			  cursor: pointer;
			  align-items: center;
			  justify-content: center;

			  &:not(.submenu-opened)::before {
				  font-family: "hgi-stroke-rounded";
				  font-size: 16px;
				  line-height: 22px;
				  color: #919eab;
				  content: "㭚";
				  transform: rotate(0deg);
				  transition: transform 0.3s ease-in-out;
				}

				&.submenu-opened::after {
				  font-family: "hgi-stroke-rounded";
				  font-size: 16px;
				  line-height: 22px;
				  color: #919eab;
				  content: "㭚";
				  transform: rotate(-180deg);
				  transition: transform 0.3s ease-in-out;
				}
			}

			ul {
			  display: none;
			  flex-direction: column;
			  padding-top: calc(var(--spacing) * 2);
			  padding-left: calc(var(--spacing) * 2);
			}
		}
	}
}

.search-bar-wrapper {
	.search-form {
		display: none;
    	animation: tabFade 0.5s;
	}

	&:focus-within {
		.search-form {
			display: block;
		}
	}
}

.nav-menu > * {
    line-height: 0;
}
.nav-menu ul {
    clear: both;
    line-height: 1;
    margin: 0;
    padding: 0;
    width: 100%;
}
.nav-menu .menu-item {
    list-style: none;
    position: relative;
}
.nav-menu .menu-item a {
    border: none;
    display: block;
    font-size: 0.875rem;
    position: relative;
    padding: 16px;
    text-decoration: none;
    font-weight: 700;
    text-decoration: none;
}
.nav-menu .menu-item.menu-item-has-children > a {
    padding-right: calc(16px + 18px);
}
.nav-menu .menu-item:hover > a {
    
}
.nav-menu .menu-item.menu-item-favorite a {
    padding: 0;
    display: flex;
}

@media (min-width: 1095px) {
    .nav-menu .menu > .menu-item > a {
        font-size: var(--wp--preset--font-size--tiny);
        padding: var(--wp--custom--layout--padding)
            var(--wp--custom--layout--padding)
            var(--wp--custom--layout--padding) 0;
    }
    .nav-menu .menu > .menu-item.menu-item-has-children > a {
        padding-right: calc(var(--wp--custom--layout--padding) + 14px);
    }
    .nav-menu .menu-item {
        float: left;
    }
    .nav-menu .menu-item:hover > .sub-menu,
    .nav-menu .menu-item:focus-within > .sub-menu {
        left: auto;
        opacity: 1;
    }
    .nav-menu
        .menu-item.menu-item-has-children:focus-within
        > .submenu-expand
        .close,
    .nav-menu .menu-item.menu-item-has-children:hover > .submenu-expand .close {
        display: inline;
    }
    .nav-menu
        .menu-item.menu-item-has-children:focus-within
        > .submenu-expand
        .open,
    .nav-menu .menu-item.menu-item-has-children:hover > .submenu-expand .open {
        display: none;
    }
    .nav-menu .menu-item:not(.menu-item-has-children) > a:focus,
    .nav-menu .menu-item:not(.menu-item-has-children) > a:hover {
        text-decoration: underline;
    }
    .nav-menu .sub-menu {
        background: var(--wp--preset--color--backdrop);
        left: -9999px;
        opacity: 0;
        position: absolute;
        width: 215px;
        z-index: 99;
    }
    .nav-menu .sub-menu .menu-item {
        float: none;
    }
    .nav-menu .sub-menu .sub-menu {
        margin: -48px 0 0 215px;
    }
}
@media (max-width: 1094px) {
    .nav-menu {
        display: none;
        background-color: var(--wp--preset--color--backdrop);
    }
    .nav-menu.active {
        display: block;
    }
    .nav-menu .menu-item-search,
    .nav-menu .menu-item-favorite {
        display: none;
    }

    .nav-menu .submenu-expand.expanded {
        transform: rotate(180deg);
    }
    .nav-menu .submenu-expand.expanded + .sub-menu {
        display: block;
    }
    .nav-menu .sub-menu {
        display: none;
        padding-left: 16px;
    }
}