@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url("https://p.typekit.net/p.css?s=1&k=nry1hxq&ht=tk&f=38228.38231.38232.38233&a=138502755&app=typekit&e=css");

@font-face {
font-family:"urbane-rounded";
src:url("https://use.typekit.net/af/fe773b/00000000000000007735bf9b/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/fe773b/00000000000000007735bf9b/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/fe773b/00000000000000007735bf9b/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"urbane-rounded";
src:url("https://use.typekit.net/af/916187/00000000000000007735bfa0/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/916187/00000000000000007735bfa0/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/916187/00000000000000007735bfa0/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"urbane-rounded";
src:url("https://use.typekit.net/af/4b2ee1/00000000000000007735bfa1/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/4b2ee1/00000000000000007735bfa1/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/4b2ee1/00000000000000007735bfa1/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"urbane-rounded";
src:url("https://use.typekit.net/af/9e805f/00000000000000007735bfa2/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/9e805f/00000000000000007735bfa2/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/9e805f/00000000000000007735bfa2/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
    font-family: 'Whitenice';
    src: url('./../fonts/Whitenice.woff2') format('woff2'),
        url('./../fonts/Whitenice.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Centra;
    src: url(./../fonts/CentraNo2-Book-Web.eot);
    src: url(./../fonts/CentraNo2-Book-Web.eot?#iefix)format("embedded-opentype"),url(./../fonts/CentraNo2-Book-Web.woff2)format("woff2"),url(./../fonts/CentraNo2-Book-Web.woff)format("woff"),url(./../fonts/CentraNo2-Book-Web.ttf)format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Centra;
    src: url(./../fonts/CentraNo2-Bold-Web.eot);
    src: url(./../fonts/CentraNo2-Bold-Web.eot?#iefix)format("embedded-opentype"),url(./../fonts/CentraNo2-Bold-Web.woff2)format("woff2"),url(./../fonts/CentraNo2-Bold-Web.woff)format("woff"),url(./../fonts/CentraNo2-Bold-Web.ttf)format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}